.event-new{
    background-color: red;
    position: absolute;
    inset: 0;
    top:43%;
    border-radius: 20px 20px 0px 0px;
    background: white;


    overflow: scroll;
    padding:10px 20px;

    z-index:3;
}
.event-new ::-webkit-scrollbar{
    width:5px;
}

.overflow{
    

    position: absolute;
    inset: 0;   

    background-color: black;
    opacity: 0.28;
}
.event-top{

    display: flex;
    align-items: center;
    border-bottom: 0.1px solid gray;
    padding:10px ;
    gap:10px;
}
.event-top>*{
    color:#4A4A4A;
}
.new-event-heading{
    font-size: 1.23rem;
    font-weight: 600;
}
.event-main-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.event-input-box{
    background-color: rgb(209, 209, 209);
    border-radius: 15px;
    padding: 15px;
    border: none;

}
.event-input-box:focus{
    outline: 3px solid rgb(185, 185, 185);
}
.invite-people-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1rem;
    align-items: center;
}
.right-arrow{
    font-size: 1.5rem;
}
.icon-text{
    display: flex;
    align-items: center;
    gap:10px;
}
.all-day-list{
    list-style: none;
    text-indent: -1rem;
    margin: 5px 0px;
    font-size: 0.8rem;
}
.all-day-container{
    padding: 10px;
    
}
.all-day-icon-heading{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-between;
}
.cross{
    font-size: 1.5rem;
    cursor: pointer;
}
.hide{
    display: none;
}
.event-new-container{
}
.toggle{
    height:20px;
    width:50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(209, 209, 209);
    transition: all 0.5s;
}
.toggle-switch{
    height:30px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left:0px;
    width:30px;
    background:rgb(151, 151, 151);
    transition: all 0.5s;
}
.right{
    left: auto;
    right:0px;
    background-color: rgb(38, 221, 38);
}
.bg-color-toggle{
    background-color: rgb(130, 253, 130);
}
.location-container-box, .agenda-container-box, .attachement-container-box{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.location-left, .agenda-left, .attachement-left{
    display: flex;
    gap:10px;
    align-items: center;
}
@media screen and (max-width:480px)
{
    .event-new{
        top:40%;
    }       

}