.event{
    background-color: #162B32;
    height: 100vh;
}
.swipe{
    background-color: white;
    position: absolute;
    inset: 0;

    top:20%;
    border-radius: 30px 30px 0px 0px;
    transition: top 1s;
    padding: 10px 20px;
}
.swipe-me{
    width: 80px;
    height: 5px;
    background-color: rgb(165, 163, 160);
    border-radius: 20px;
    cursor: pointer;
}
.swipe-container{
    display: flex;

    justify-content: center;

}
.top{
    top:66%;
}
.swipe-me:hover{
    opacity: 0.8;
}
.cards-container{
    display: flex;
    gap:10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.cards-container::-webkit-scrollbar{
    width: 1rem;
    height: 0.5rem;
}
.cards-container::-webkit-scrollbar-track{
    
    background: rgb(226, 190, 226);
    border-radius: 10px;
}
.cards-container::-webkit-scrollbar-thumb{
    background-color: rgb(183, 14, 199);
    cursor: pointer;
    border-radius: 10px;
}
.cards-container::-webkit-scrollbar-thumb:hover{
    
    background-color: rgb(255, 0, 212);

}
.add-event{
    height:50px;
    width:50px;
    background-color: #FF6A3D;
    position: fixed;
    border-radius: 50%;
    bottom: 10px;
    right:10px;
    cursor: pointer;
    color:white;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    z-index:2;
}
.add-event:hover{
    background-color: #f04f1d;
}


.plus{
    transform: translateY(-4px);
}

.today-events-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.today-event-left,.today-event-right{
    display: flex;
    align-items: center;
}
.weather-degree-text{
    color:#0077E4;
}
h2{
    color:#4A4A4A;
    font-size: 1.3rem;
}
.today-event-main{
    display: flex;
    flex-direction: column;
    gap:10px
}
.today-time{
    font-weight: 600;
}
.today-event-item{
    display: flex;
    gap:10px;
}